<h1 class="title-new">Edit Material</h1>

<div class="content"> 

    <div class="section-input-process-time">
        <p>Search process time</p>

            <mat-form-field appearance="fill">
                <input class="input-process" matInput (keyup)="inputEventSearchProcess($event)" placeholder="Zoek proces tijd">
            </mat-form-field>

            <div class="inputs-processes">

            <mat-form-field appearance="fill">
                <input class="input-process" matInput (keyup)="inputEventEditProcessName($event)" value="{{viewProcessName}}" placeholder="Proces naam bewerken">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input class="input-process-pricing" matInput (keyup)="inputEventEditProcessPrice($event)" value="{{viewProcessPrice}}" placeholder="bewerk prijs">
            </mat-form-field>            
        </div>
        <button class="button-save" mat-raised-button (click)="clickDeleteProcess($event)">delete process </button>

    </div>


    <div class="section-profile">

        <p>Search profile</p>
        <mat-form-field appearance="fill">
            <input matInput (keyup)="inputEventSearchProfile($event)" placeholder="Zoek naam of referentie nummer">
        </mat-form-field>

        <mat-card>
            <mat-card-title>{{viewProfileName}}</mat-card-title>
            <mat-card-subtitle>{{inputSearchProfile}} <br>
                {{viewProfilePrice}}
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-button (click)="clickEventDeleteProfile($event)">Delete</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div class="section-material">
        <p>Search material</p>

        <mat-form-field appearance="fill">
            <input matInput (keyup)="inputEventSearchMaterial($event)" placeholder="Zoek naam of referentie nummer">
        </mat-form-field>

        <mat-card>
            <mat-card-title>{{viewMaterialName}}</mat-card-title>
            <mat-card-subtitle>{{inputSearchMaterial}} <br>
                {{viewMaterialPrice}}
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-button (click)="clickEventDeleteMaterial($event)">Delete</button>
            </mat-card-actions>
        </mat-card>

    </div>

</div>



<!-- <div class="out">
    <div class="GET-data">
        <p>data: []</p>
    </div>

    <div class="ui-buttons">
        <p>--BUTTONS--</p>
        <p>save : [{{stateSave}}]</p>
        <p>delete profile : [{{stateDeleteProfile}}]</p>
        <p>delete material : [{{stateDeleteMaterial}}]</p>

    </div>

    <div class="out-process">
        <p>--PROCESS--</p>
        <p>raw : [{{raw_processInput}}]</p>
        <p>search : [{{inputSearchProcess}}]</p>
        <p>edit name : [{{inputEditProcessName}}]</p>
        <p>edit price : [{{inputEditProcessPrice}}]</p>
    </div>

    <div class="out-profile">
        <p>--PROFILE--</p>
        <p>raw : [{{raw_profileInput}}]</p>
        <p>search : [{{inputSearchProfile}}]</p>
        <p>name : [{{viewProfileName}}]</p>
        <p>price : [{{viewProfilePrice}}]</p>
        <p>description : {{viewDesc}}</p>
    </div>

    <div class="out-material">
        <p>--MATERIAL--</p>
        <p>raw : [{{raw_materialInput}}]</p>
        <p>search : [{{inputSearchMaterial}}]</p>
        <p>name : [{{viewMaterialName}}]</p>
        <p>price : [{{viewMaterialPrice}}]</p>
    </div>
</div> -->

<!-- <p>fifhwiehfiwfihP: {{get_materialsData[8].price}}</p> -->