<div>
<p *ngFor="let data of Categories"> prices of the stuff [{{data.category}}] and [{{data.thumbnail_addr}}]</p>
<p>{{Categories[0]}}</p>
<p>new name is [{{newName}}]</p>
</div>

<h1 class="title-new">Edit category</h1>

<div class="content">
    <p> </p>
    <button class="button-upload-image" mat-raised-button>Upload image</button>
    
    <div class="category-name-column">
        <p class="label-category-name">Category name</p>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Search category name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Rename the category" (keyup)="onSubmit_renameCategory($event)">
        </mat-form-field>
    </div>
    <button class="button-save-category" mat-raised-button (click)="clickSave()">Opslaan </button>
</div>
