
<div class="buttons">
  <div class="new">
    <button mat-raised-button color="primary" routerLink="/new-material">New material</button>
    <button mat-raised-button color="primary"  routerLink="/new-category">New category</button>  
    <button mat-raised-button color="primary"  routerLink="/new-insert">New insert</button> 
  </div>

  <div class="edit">
    <button mat-raised-button color="accent"  routerLink="/edit-material">Edit material</button>
    <button mat-raised-button color="accent"  routerLink="/edit-category">Edit category</button>
    <button mat-raised-button color="accent"  routerLink="/edit-insert">Edit insert</button>
  </div>
</div>

<div class="help">
  <h1>Help</h1>
  <p>
    Select to add a new item to the application or to edit an item.
  </p>
</div>