.buttons {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 10px;
  }
  
  .new {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 10px;
  }

  .edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .help{
    display: flex;
    flex-direction: column;
    width: 20%;
  }