
<div class="btn-group">
    <button mat-raised-button color="primary" routerLink="/new-material">New material</button>
    <button mat-raised-button color="accent"  routerLink="/edit-material">Edit material</button>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary"  routerLink="/new-category">New category</button>  
    <button mat-raised-button color="accent"  routerLink="/edit-category">Edit category</button>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary"  routerLink="/new-insert">New insert</button> 
    <button mat-raised-button color="accent"  routerLink="/edit-insert">Edit insert</button>
  </div>
