<mat-toolbar color="primary" class="menu-bar">  
  <h1 class="logo-button">  
    <button mat-button routerLink="/">PDU Builder</button>  
  </h1>  
  <div class="menu-options">
    <button mat-button routerLink="/">Home</button>  
    <button mat-button routerLink="/design">Design</button>
    <button mat-button routerLink="/orders">Orders</button>  
    <button mat-button routerLink="/configuration">Configuration</button>  
    <button mat-button routerLink="/about">About</button> 
    <button mat-button routerLink="/user-manual">User manual</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>