.title-new-category{
    display: flex;
    padding: 30pt;
    padding-left: 100px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 10px;
    gap: 10px;
}

.button-upload-image {
    height: 150px;
    width: 150px;
    color: darkgray;
}

.category-name-column {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.button-save-category {
    display: flex;
    height: 50px;
}

input {
    width: 290px;
}