<div class="allContent">
    <h1>Order #503</h1>

    <div class="body-content">
    <div class="group-information-inputs">

        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_companyName($event)">Bedrijf
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_contactPerson($event)">Contact persoon
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_amount($event)">Hoeveelheid
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_description($event)">Omschrijving
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_number($event)">Telefoon
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput (keyup)="input_email($event)">Email
        </mat-form-field>


    <!-- <mat-form-field appearance="fill">
        <p>Bedrijf</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_companyName($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Contact persoon</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_contactPerson($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Hoeveelheid</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_amount($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Omschrijving</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_descirption($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Telefoon</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_number($event)">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Email</p>
        <mat-label>Input</mat-label>
        <input matInput (keyup)="input_email($event)">
    </mat-form-field> -->
    </div>
        <div class="button-BOM">
            <button mat-raised-button (click)="clickCreateOrder()">Plaats bestelling</button>
        </div>
    </div>
</div>