.home-conten{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.logo-image{
    display: flex;
}

.update-configure-docs-button{
    display: flex;
    flex-direction: row;
}