<h1 class="title">New insert</h1>
<p> output: </p>
<!-- <p>{{retGetData[0].material_name}}</p> -->
<p> retGetData: {{retGetData[20].material_name}}</p>
<p> testVal: {{favoriteSeason}}</p>
<p *ngFor="let profile of profiles"> profile names: {{profile.NAME}}</p>

<div class="content">
    <div class="section-insert-category-profile-processtime">
        <P>Add new insert</P>

        <mat-form-field appearance="fill">
            <input matInput placeholder="Give insert name">
        </mat-form-field>

        <p>Add insert to a category</p>
        <form>
            <mat-form-field appearance="fill">
            <mat-label>Number</mat-label>
            <input type="text"
                    placeholder="Category"
                    aria-label="Category"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
        </form>

        <!-- example radio buttons with seasons -->
        <label id="radio-profiles-label">Pick your favorite OEC</label>
        <mat-radio-group
          aria-labelledby="radio-profiles-label"
          class="radio-profiles"
          [(ngModel)]="favoriteSeason">
          <mat-radio-button class="radio-profiles" *ngFor="let season of profiles" [value]="season">
            {{season.NAME}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{favoriteSeason}}</div>
        
        <div class="section-process-time">
            <p>Add process time</p>

            <div class="row-processtimes">
                <form>
                    <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input type="text"
                            class="input-menu-process-time"
                            placeholder="Process time"
                            aria-label="Number"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field>
                </form>

                <mat-form-field appearance="fill">
                    <input class="input-process-time-mins" matInput placeholder="Fill in amount of minutes">
                </mat-form-field>
            </div>

            <button class="button-plus-one" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"> + 
            </button>
            
        </div>
    </div>

    <div class="section-add-component">
        <p>Add component to this insert</p>

        <div class="row-component-conf">
            <form>
                <mat-form-field appearance="fill">
                <mat-label>Number</mat-label>
                <input type="text"
                        class="input-component"
                        placeholder="Add component"
                        aria-label="Add component"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                    </mat-option>
                </mat-autocomplete>
                </mat-form-field>
            </form>
        
            <mat-form-field class="formfield-input-amount" appearance="fill">
                <input class="input-component-amount" matInput placeholder="1">
            </mat-form-field>

            <button class="button-remove-component" mat-raised-button>del</button>
        </div>

            <button class="button-plus-one" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"> + 
            </button>
    </div>

    <div class="buttons-upload-images">
        <p>Upload images</p>
        <button class="button-upload-image" mat-raised-button>Upload schematic <br> image</button>
        <button class="button-upload-image" mat-raised-button>Upload real image</button>
    </div>
    <button class="button-upload-image" mat-raised-button>Save</button>
  </div>
